{% extends 'home_base.html' %}
{% load static %}

{% block content %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">

                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{user.first_name}} .. to QBS Invoicer</h3>
                </div>
                
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 grid-margin transparent">
              <div class="row">

                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total Invoices</p>
                      <p class="fs-30 mb-2">{{total_invoices}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Clients</p>
                      <p class="fs-30 mb-2">{{total_clients}}</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-light-blue">
                      <div class="card-body">
                        <p class="mb-4">Number of Items</p>
                        <p class="fs-30 mb-2">{{total_items}}</p>
                      </div>
                    </div>
                  </div>

            </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Recent Invoices</p>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="example" class="display expandable-table" style="width:100%">
                          <thead>
                            <tr>
                              <th>#Invoice No.</th>
                              <th>Client Name</th>
                              <th>Total</th>
                              <th>Created</th>
                              <th>Sync Date</th>
                              <th>Sync Status</th>
                            </tr>
                          </thead>

                          <tbody>
                            {% for invoice in invoices %}
                            <tr>
                                <th>#{{invoice.id}}</th>
                                <th>{{invoice.client.name}}</th>
                                <th>{{invoice.total}}</th>
                                <th>{{invoice.created}}</th>
                                <th>{{invoice.sync_date}}</th>
                                <th>{{invoice.sync_status}}</th>
                            </tr>
                            {% endfor %}
                          </tbody>

                      </table>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
      </div>
      <!-- main-panel ends -->

{% endblock%}